*{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}
.header .content-box{
    background-image: url("https://unsworthacademy.org.uk/wp-content/uploads/2020/03/FSM.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.menu{
    display: inline-flex;
}
.menu button{
    padding: 5px 20px;
    background: burlywood;
    color: brown;
    font-size: 16px;
    border: 0;
    border-radius: 5px 10px;
    position: absolute;
    right: 10%;
    top: 5%;
}
.banner-text{
    width: 80%;
    color: rgb(185, 155, 115);
    margin: 16% auto 0;
    text-align: center;
}
.banner-text h1{
    color: #8D6E63;
    margin-top: -50px;
    font-size: 64px;
}
.banner-text p{
    font-size: 20px;
    margin: 20px 0 50px;
}
.btn button {
    padding: 7px 30px;
    margin-right: 15px;
    outline: none;
    border: 1px solid #8D6E63;
    border-radius: 20px;
    cursor: pointer;
    color: tan;
    background: transparent;
    background: linear-gradient(rgba(205, 134, 63, 0.658), #8D6E63);
    box-shadow: 0 2px 15px #8D6E63;
    color: rgb(245, 238, 229);
}

/*-----Service-----*/

.service .content-box{
    background-image: url("https://camdenvalleyinn.com.au/wordpress/wp-content/uploads/Camden-Valley-Inn_004.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}
h1{
    color: black;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
}
h1::after{
    content: '';
    background: burlywood;
    display: block;
    height: 3px;
    width: 200px;
    margin: 20px auto 50px;
}
.services .icon {
    font-size: 30px;
    margin: 20px auto;
    padding: 18px;
    height: 70px;
    width: 70px;
    border: 1px solid black;
    border-radius: 50%;
    color: black;
}
.services p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: black;
    padding: 20px;
}
.services .col-md-4{
    background: linear-gradient(rgba(205, 134, 63, 0.658), rgba(205, 134, 63, 0.658));
}
.services .col-md-4:hover{
    background: burlywood;
    cursor: pointer;
    color: black;
    box-shadow: -5px 5px 10px 0 black;
    transition: .5s;
}

/*-----Footer-----*/
.footer .content-box{
    background-image: url("https://www.itl.cat/pngfile/big/99-996466_background-images-for-restaurants.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.footer h1{
    color: rgb(77, 58, 35);
    padding-top: 100px;
}
.contact-form{
    padding: 20px;
}
.form-control{
     border-radius: 5px !important;
     border: none !important;
     box-shadow: none !important;
}
::placeholder{
    font-size: 12px;
}
.contact-form button{
    padding: 5px 20px;
    background: rgb(233, 204, 167) !important;
    box-shadow: none !important;
    color: rgb(77, 58, 35);
    font-size: 16px;
    border: none !important;
    border-radius: 5px 10px;
}
.contact-info .follow{
    background-color: rgb(177, 158, 135);
    padding: 8px;
    margin: 15px;
}
.contact-info .fa{
    margin: 8x;
    font-size: 20px !important;
    color: rgb(77, 58, 35) !important;
    padding-right: 20px;
}
.copyright{
    color: rgb(77, 58, 35);
    text-align: center;
    font-size: 14px;
}
.fa-heart{
    color: rgb(77, 58, 35);
    font-size: 17px;
}
.footer hr{
    margin-top: 10px;
    background: rgb(77, 58, 35);
}

/*-----Recipes-----*/

.recipes .recipe{
    background-image: url("https://unsworthacademy.org.uk/wp-content/uploads/2020/03/FSM.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/*-----Food Nutrition-----*/

.f-n .foodNutrition{
    background-image: url("https://unsworthacademy.org.uk/wp-content/uploads/2020/03/FSM.png");
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
}